body {
    font-family: monospace;
    width: 33%;
}

#res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}

#btns div {
    cursor: pointer;
    text-align: center;
    width: 25%;
    height: 36px;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding: 18px 0 5px;
    float: left;
}

#btn0,
#btn1 {
    background-color: lightgreen;
    color: brown;
}

#btnClr,
#btnEql {
    background-color: darkgreen;
    color: brown;
}

#btnSum,
#btnSub,
#btnMul,
#btnDiv {
    background-color: black;
    color: red;
}